<!DOCTYPE html>
<html>
<head lang="cs">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>House monitoring and controll</title>

    <base href="/">
    <script src="idum-ui/dist/libs.js"></script>
    <script src="idum-ui/dist/app.js"></script>
    <link rel="stylesheet" href="idum-ui/dist/css/main.css">
</head>

<body ng-app="app">
<div class="all">
    <header class="main" ng-controller="HeaderCtrl" id="mainHeader">
        <div class="logo">
            <a ng-href="/">
                iDům
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    <a ng-href="home">
                        Shrnutí
                    </a>
                </li>
                <li>
                    <a ng-href="projects">
                        Moje projekty
                    </a>
                </li>
            </ul>
        </nav>
        <div ng-controller="UserCtrl" class="user-box">
            <div class="logged-user" ng-show="loggedUser" ng-click="detailsBoxShown = true;">
                {{loggedUser.name}}
            </div>
            <ul class="user-info" ng-show="loggedUser && detailsBoxShown">
                <li>
                    {{loggedUser.username}}
                </li>
                <li>
                    <a ng-click="logout()">
                        Odhlásit
                    </a>
                </li>
            </ul>
            <div ng-hide="loggedUser">
                <button class="btn primary" ng-click="detailsBoxShown = true;">Přihlásit se</button>
            </div>
            <form class="login-form form-group user-info" ng-show="!loggedUser && detailsBoxShown" ng-submit="login()">
                <input type="text" required ng-model="user.username" placeholder="Uživatelské jméno"/>
                <input type="password" required ng-model="user.password" placeholder="Heslo"/>
                <button type="submit" class="btn primary">
                    Přihlásit
                </button>
            </form>
            <div class="overlay" ng-show="detailsBoxShown" ng-click="detailsBoxShown = false">
            </div>
        </div>
    </header>

    <section class="content wrapper" id="mainContent">
        <div ng-view class="content">
        </div>
    </section>

    <footer class="main">
        asdf
    </footer>
</div>

<div ng-controller="DialogsCtrl">
    <notification-dialog ng-repeat="notification in flashNotifications" shown="notification.shown"
                         ng-class="notification.type">
        {{notification.title | translate}}
    </notification-dialog>
    <modal-dialog ng-repeat="dialog in dialogs" shown="dialog.shown" title="{{dialog.title | translate}}"
                  spinner="{{dialog.spinner}}" positive-label="{{dialog.positiveLabel | translate}}"
                  negative-label="{{dialog.negativeLabel | translate}}" positive-class="{{dialog.positiveClass}}"
                  negative-class="{{dialog.negativeClass}}" action="dialog.action"
                  negative-action="dialog.negativeAction">
        {{dialog.content | translate}}
    </modal-dialog>
</div>


</body>
</html>