<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>House monitoring and controll</title>

    <script src="dist/libs.js"></script>
    <script src="dist/app.js"></script>
</head>

<body>
<script>
</script>

<div ng-app="app">
    <ng-view></ng-view>
    <form class="login" ng-controller="UserCtrl" ng-submit="login()">
        <input type="text" required ng-model="user.username"/>
        <input type="password" required ng-model="user.password"/>
        <button type="submit">
            Log in
        </button>
    </form>

    <form class="register" ng-controller="UserCtrl" ng-submit="register()">
        <input type="text" required ng-model="user.name"/>
        <input type="text" required ng-model="user.username"/>
        <input type="email" required ng-model="user.email"/>
        <input type="password" required ng-model="user.password"/>
        <input type="password" required ng-model="passwordAgain"/>
        <button type="submit">
            Sign in
        </button>
    </form>

    <div ng-controller="SensorDataCtrl">
        <graph data="data" style="width: 100%"></graph>
    </div>
</div>

</body>
</html>